DEVICE="%DEVICE_NAME%"
BOOTPROTO="dhcp"
NM_CONTROLLED="yes"
ONBOOT=yes
TYPE="Ethernet"
%UUID%
%HWADDR%
DEFROUTE=%DEF_ROUTE%
PEERDNS=no
PEERROUTES=yes
IPV4_FAILURE_FATAL=yes
IPV6INIT=no
NAME="System %DEVICE_NAME%"