DEVICE="%DEVICE_NAME%"
BOOTPROTO=none
NM_CONTROLLED="yes"
ONBOOT=yes
TYPE="Ethernet"
%UUID%
%HWADDR%
IPADDR=%IP_ADDRESS%
NETMASK=%NETMASK%
GATEWAY=%GATEWAY%
DEFROUTE=%DEF_ROUTE%
IPV4_FAILURE_FATAL=yes
IPV6INIT=no
NAME="System %DEVICE_NAME%"